body{

background:#111;

color:white;

font-family:sans-serif;

display:flex;

justify-content:center;

margin-top:40px;

}

.chat{

width:350px;

}

#messages{

height:350px;

border:1px solid gray;

padding:10px;

overflow:auto;

margin-bottom:10px;

}

input{

width:75%;

padding:10px;

}

button{

padding:10px;

  }
